@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&family=Montserrat:wght@400;500&family=Overpass:ital,wght@0,600;1,400&display=swap');

* {
	user-select: text;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lobster Two', cursive;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Overpass', sans-serif;
}
body {
	margin: 0% 20%;
	background-color: #edf1f5;
}

h4 {
	font-weight: 600;
	color: #3d5a80;
}
h3 {
	font-size: 1rem;
	font-weight: 600;
	color: rgb(0, 46, 71);
}
h5 {
	color: rgba(0, 46, 71, 0.5);
	font-size: 0.6rem;
}

a {
	color: #354f52;
}
